<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
      <compilation debug="true"/>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>        
      <add name="ConnectionString" connectionString="Data Source=LOCAL;Initial Catalog=SGD;Persist Security Info=True;User ID=usuario;Password=senha" providerName="System.Data.SqlClient" />      
  </connectionStrings>
</configuration>
